.Rproj.user
.Rhistory
.RData
.Ruserdata
projects/*
preylib/bak/*
!projects/.gitkeep 
code/Results.rdata
code/SOFA_summary.html
code/SOFAfit_Grp_dso.rdata
code/SOFAfit_dso.rdata
code/SOFAfit.rds
code/SOFAfit_Grp.rds
code/SOFAfit.exe
code/SOFAfit_Grp.exe